<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<dom-module id="tip-app">
<style is="custom-style">
  paper-button.custom {
    --paper-button-ink-color: var(--paper-pink-a200);
    /* These could also be individually defined for each of the
      specific css classes, but we'll just do it once as an example */
    --paper-button-flat-keyboard-focus: {
      background-color: var(--paper-pink-a200);
      color: white !important;
    };
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.custom:hover {
    background-color: var(--paper-indigo-100);
  }
  paper-button.pink {
    color: var(--paper-pink-a200);

  }
  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.green {
    background-color: var(--paper-green-500);
    color: white;
  }
  paper-button.green[active] {
    background-color: var(--paper-red-500);
  }
  paper-button.disabled {
    color: white;
  }
</style>

<template>
	<paper-button raised class="custom indigo">raised</paper-button>
</template>

<script type="text/javascript">
	Polymer({
		is: 'tip-app',
		properties: {
			database: Object,
		},
		ready: function () {	
       	},
       	attached: function() {
       		var config = {
       			apiKey: "AIzaSyDz1aysL6QGZklPRakbwY0LAelkXXW4efA",
			    authDomain: "vicalbase.firebaseapp.com",
			    databaseURL: "https://vicalbase.firebaseio.com",
			    storageBucket: "vicalbase.appspot.com",
			   	messagingSenderId: "275325129304"
			};
		  	firebase.initializeApp(config);
		  	this.database = firebase.database();
		  	this.guardarDatos();
		  	this.listarTip();
	    },
	    guardarDatos: function() {
	    	this.database.ref('usuario/').set({
			    nombre: 'Victor',
			    email: 'vical.rl@gmail.com',
			    imagen : 'icono3'
		  	});
	    },
	    listarTip: function() {
	    	this.database.ref('tips').on('value', function(snapshot) {
	    		console.log(snapshot.val());
			});
	    },
	});
</script>
</dom-module>